fastapi
uvicorn
sqlalchemy
asyncpg
greenlet
supabase
pydantic
pydantic-settings
python-dotenv
firebase-admin
PyJWT
bcrypt
razorpay
cloudinary
mediapipe
opencv-python
Pillow
python-socketio
python-multipart
aiofiles
